@use "../styles/variables" as *;

.calculatorContainer {
  background-color: $color-light-gray;
  padding: 5rem $spacing-md;
  clip-path: polygon(
    0% 15px,
    15px 0%,
    calc(100% - 15px) 0%,
    100% 15px,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    15px 100%,
    0% calc(100% - 15px)
  );
  @media (max-width: 768px) {
    width: 70%;
    margin: auto;
  }

  .calculatorTitle {
    font-weight: 700;
    font-size: $font-lg;
    line-height: 1.5625rem;
    margin-bottom: $spacing-md;
  }
}

.calculatorForm__checkboxGroup {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  margin-bottom: $spacing-md;

  .calculatorForm__checkbox {
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: $radius-sm;
    background: white;
    border: 0.125rem solid transparent;
    background-image: linear-gradient(white, white),
      linear-gradient(90deg, #d3dae8 0%, #a7b7d8 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    outline: none;
    position: relative;
    transition: all 0.2s ease;

    &:hover {
      background-image: linear-gradient(white, white),
        linear-gradient(90deg, #a7b7d8 0%, #8fa1cc 100%);
    }

    &:checked::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -70%) rotate(45deg);
      width: 0.375rem;
      height: 0.625rem;
      border: solid #333;
      border-width: 0 0.1875rem 0.1875rem 0;
    }
  }
  .calculatorForm__checkboxLabel {
    font-size: $font-sm;
    color: #111317;
    cursor: pointer;
  }
}

.calculatorForm__submitButton {
  cursor: pointer;
  background: linear-gradient(90deg, #911812 0%, #e1261c 100%);
  color: white;
  padding: $spacing-md $spacing-lg;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: $radius-lg;
  font-size: $font-md;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px 0px #00000066;
  transition: box-shadow 0.1s ease-in-out;
  &:hover {
    box-shadow: 0px -4px 0px 0px #00000040 inset, 0px 4px 10px 0px #00000026;
  }

  &:active {
    box-shadow: 0px 4px 0px 0px #00000040 inset, 0px 0px 10px 0px #00000040;
    transform: translateY(1px);
  }
}

.resultBox {
  margin-top: $spacing-md;
  .resultBox__group {
    display: flex;
    justify-content: space-evenly;
    gap: $spacing-md;
    padding: $spacing-md;
    border-top: 1px solid #e9edf4;
    border-bottom: 1px solid #e9edf4;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }

  .resultBox__item {
    font-size: $font-sm;
    line-height: $line-xs;
    color: #111317;
    text-align: center;

    .resultBox__daysDescription {
      font-weight: 700;
    }

    .resultBox__amountDescription {
      display: flex;
      flex-direction: column;
      margin-top: $spacing-sm;

      .resultBox__totalAmount {
        font-weight: 700;
        font-size: $font-md;
        line-height: $line-sm;
        color: #111317;
      }

      .resultBox__dailyAmount {
        display: flex;
        flex-direction: column;
        font-size: $font-xs;
        line-height: $line-xs;
        color: #7a818e;
      }
    }
  }

  .resultBox__item--total {
    margin-top: 1.25rem;

    .resultBox__description {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.875rem;
      color: #111317;
      margin-top: 0.3125rem;
    }
  }
}
