$color-primary: #e1261c;
$color-primary-dark: #911812;
$color-grey-dark: #111317;
$color-grey: #7a818e;
$color-light-gray: #f9f9f9;
$color-border: #d3dae8;
$color-border-gradient: linear-gradient(90deg, #d3dae8 0%, #a7b7d8 100%);
$color-border-gradient-hover: linear-gradient(90deg, #a7b7d8 0%, #8fa1cc 100%);
$color-bg-dark: #2b303a;
$color-white: #ffffff;
$color-error: #e1261c;
$color-text-dark: #1a1a1a;

$spacing-xs: 0.3125rem;
$spacing-sm: 0.625rem;
$spacing-md: 1.25rem;
$spacing-lg: 2.5rem;
$spacing-xl: 6.25rem;

$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-md: 1.125rem;
$font-lg: 1.5rem;
$font-xl: 2rem;
$font-xxl: 2.5rem;

$line-xs: 0.9375rem;
$line-sm: 1.25rem;
$line-md: 1.875rem;
$line-lg: 3.125rem;

$radius-sm: 0.25rem;
$radius-lg: 1.875rem;
